<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生活的点滴磨炼</title>
    <style>
        .content p {
            float: left;
            margin-top: 100px;
            margin-left: 100px;
            width: 100px;
            height: 100px;
            background-color: burlywood;
            text-align: center;
            line-height: 100px;
        }
        .icp{
            width: 100%;
            height: 5%;
            position: fixed;
            bottom: 0px;
            font-size: 10px;
            text-align: center;
            left: 0px;

        }
    </style>
</head>
<body>
<div class="content">
    <p id="content1">
        <a href="./billing_statistics">账单统计</a>
    </p>
    <p id="content2">
        <a href="./business_cards">名片搜索</a>
    </p>
    <p id="content3">
        <a href="./business_cards">知识总结</a>
    </p>
</div>
<div class="icp">
    最终解释权归刘飞凡所有
    <a style="color:black" href="https://beian.miit.gov.cn" target="_blank">京ICP备2021039907号</a>
</div>

</body>


</html>